
.hide {
  display: none;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}




@media screen and (max-width: 1199px) {
  .navigation {
    width: 100%;
  }
  .navigation__logo {
    padding: 16px 0;
    margin-left: 0;
  }
  .navigation__list,
  .auth-nav {
    display: none;
  }
  // .hero__container {
  //   max-width: 364px;
  // }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153;
    width: 100%;
  }
  .hero__button {
    max-width: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .section {
    padding: 60px 0;
  }
  .logo {
    font-size: 24px;
    line-height: 1.1667;
  }
  .navigation {
    width: 100%;
  }
  .navigation__logo {
    padding: 16px 0;
    margin-left: 0;
  }
  .navigation__list,
  .auth-nav {
    display: none;
  }

  .hero__container {
    max-width: 364px;
  }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153;
    width: 100%;
  }
  .hero__button {
    max-width: 200px;
  }

  .feature__list {
    flex-wrap: wrap;
  }
  .feature__subtitle {
    text-align: center;
  }

  .example__section {
    display: none;
  }
  .title {
    font-size: 28px;
    line-height: 1.1785;
    margin-bottom: 30px;
  }

  .team__list {
    flex-wrap: wrap;
  }
  .team__photo {
    max-width: 450px;
    width: 100%;
    max-height: 460px;
    height: 100%;
  }
  .footer-block {
    flex-direction: column;
    gap: 60px;
    align-items: center;
    text-align: center;
  }
  .footer-socials {
    margin: 0;
  }
  .footer-submit {
    margin: 0 auto;
    width: 100%;
  }
  .footer-form {
    flex-direction: column;
    align-items: center;
  }
  .footer-form__label {
    width: 100%;
  }

  .work-buttons__list {
    gap: 15px 8px;
    margin-bottom: 40px;
  }
  .work__button {
    margin-bottom: 0;
  }
}

