.address__list {
	display: flex;
	flex-direction: column;
}
.address__map {
	text-decoration: none;
	font-style: normal;
	color: $primary-white-color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accent-color;
	}
	&:focus {
		color: $accent-color;
	}
}
.address__item {
	margin-bottom: 9px;
}
.address__link {
	font-style: normal;
	text-decoration: none;
	color: $transparent-color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accent-color;
	}
	&:focus {
		color: $accent-color;
	}
}