.hero {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0;
	background: $bgc-hero;
	background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../../img/desktop-img/hero_bg_img_desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 200px 0;
}
.hero__title {
	max-width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.3636;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	color: $primary-white-color;
	margin-bottom: 30px;
}
.hero__button {
	width: 216px;
	height: 50px;
}