.work-block {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.work-buttons__list {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;
}
.work__button {
	margin-bottom: 50px;
	padding: 6px 22px;
	font-weight: 500;
	line-height: 1.62;
	color: $primary-text-color;
	background-color: $secondary-white-color;
	box-shadow: none;
	&:hover {
		background: $accent-color;
		color: $primary-white-color;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
	&:focus {
		background: $accent-color;
		color: $primary-white-color;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
.work__button--current {
	background: $accent-color;
	color: $primary-white-color;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work__list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
.work__item {
	background-color: $primary-white-color;
	&:hover {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}
.work-card {
	display: block;
	position: relative;
	overflow: hidden;
}
.work-card__hidden-text {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	background-color: $transparent-color-3;
	color: $primary-white-color;
	font-size: 18px;
	line-height: 1.5555;
	transform: translateY(101%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work__link {
	text-decoration: none;
    &:hover {
		.work-card__hidden-text {
			transform: translateY(0%);
		}
	}
	&:focus {
		.work-card__hidden-text {
			transform: translateY(0%);
		}
	}
}
// .work-card__img {
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// }
.work__desc {
	padding: 20px 24px;
	border: 1px solid $border-color;
	// height: 100%;
	width: 100%;
}
.work__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: $primary-text-color;
}
.work__text {
	line-height: 1.875;
	color: $secondary-text-color;
}