.team__section {
	background-color: $secondary-white-color;
}
.team__list {
	display: flex;
	align-items: center;
	gap: 30px;
}
.team__item {
	background-color: $primary-white-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team__photo {
	width: 100%;
	height: 100%;
}
.team__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.16;
	color: $primary-text-color;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.team__text {
	font-size: 16px;
	line-height: 1.16;
	color: $secondary-text-color;
	margin-bottom: 10px;
	text-align: center;
}