$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$black-color: #000000;
$primary-white-color: #ffffff;
$secondary-bg-color: #2f303a;
$secondary-white-color: #f5f4fa;
$icon-color: #afb1b8;
$border-color: #ececec;
$bgc-hero: rgba(47, 48, 58, 0.4);
$bgc-modal: rgba(0, 0, 0, 0.2);
$bg-white: #ffffff;
$transparent: transparent;
$transparent-color: rgba(255, 255, 255, 0.6);
$transparent-color-1: rgba(117, 117, 117, 0.5);
$transparent-color-2: rgba(255, 255, 255, 0.1);
$transparent-color-3: rgba(33, 150, 243, 0.9);

// $font_family_roboto: "Roboto", sans-serif;
$font_family_Raleway: "Raleway", sans-serif; 
